/*.left{
  position: fixed;
  float: left;
  left: auto;
  width: 50%;
  border-width: 5px;
  border-style: groove;
}
.right{
  position: fixed;
  float: left;
  right: auto;
  padding-left: 5px;
  width: 50%;
  border-width: 5px;
  border-style: groove;
}*/
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 1fr 1fr 1fr 30px;
}

p{
  text-align: center;
  background-color: rgb(139, 203, 224);
  margin: 0px;
}

textarea{
  resize: none;
}

.message{
  height: 8em;
  width: 90%;
}

#avenueIn{
  vertical-align: top;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  max-height: 25rem;
  overflow-y: scroll;
  padding: 1pt;
}
#bottom{
  grid-column-start: 1;
  grid-column-end: 3;
  align-items: center;
}
#save{
  align-items: center;
}

.avenue{
  display: grid;
  grid-template-columns: 6rem 1fr 1fr 1fr 1.4rem;
  grid-template-rows: 1.4rem 1.5rem 2rem;

}

#avenue_type{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#description_title{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#persons_title{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#date_title{
  grid-column-start: 4;
  grid-column-end:5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.dropdown{
  position: relative;
  display: inline-block;
}

.dropbtn{
  background-color: #8ff;
  padding: 0.2rem;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
}

.dropdown:hover .dropdown-content{
  display:block;
}

#sent_box{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#description{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#persons{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

#dates{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

#delete{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}