/* global styles for element types */
body, html {
    height: 100%;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }

p{
    text-align: center;
    background-color: rgb(139, 203, 224);
    margin: 0px;
    font-size: 1.15rem;
}

textarea{
  resize: none;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}

/* Common class for tags at top of tab contents */
.tag{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Common class button elements */
.button{
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  flex-grow: 0.1;
  flex-shrink: 1;
  }
  
/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right-style: groove;
    border-width: 0.2vh;
    border-color: ghostwhite;
    outline: none;
    cursor: pointer;
    padding: 1.9vh 1vh;
    font-size: 3vh;
    width: 33.3333%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Default style for tab content */
  .tabcontent {
    color: white;
    display: none;
    padding-top: 8vh;
    height: 92vh;
  }
  
  #Home {background-color: rgb(139, 203, 224);}
  #Initiative {background-color: rgb(139, 203, 224);}
 


/* ---- Message Manager tab ---- */
/* Container for grid in the message manager tab
    Note: nested div used. The top one is used to toggle visibility on and off, second holds the actual grid*/
  
    /* Color for tab background */
  #Messages {background-color: rgb(139, 203, 224);}
 
  /* Definition of grid for tab's content */
  #messWrapper{
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 12vh 69vh 10.5vh;
    background-color: rgb(139, 203, 224);
  }
  
  /* Top container */
  #messTitle{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #aveTitle{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  
  /* Containers for adding messages and avenues */
  .messIn{
    max-height: 85vh;
    vertical-align: top;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    margin-left: 1vh;
    margin-right: 1vh;
  }

  #messageIn{
    max-width: 45.7rem;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    }

  #avenueIn{
    max-width: 36.4rem;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    }
  
  /* Bottom Container */
  #messBottom{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 /* ---- Message manager dynamiclly added elements ---- */ 
  /* Rules for dynamically added Messages */
  .message{
    display: grid;
    width: 44.5rem;
    grid-template-columns: 8rem 36.5rem;
    grid-template-rows: 1.55rem 5.4rem 1.4rem;
    background-color: #999;
    border: rgb(169, 169, 169);
    border-width: 1px;
    border-style: solid;
    }

    /* Title */
    .messTitle_heading{
      border-width: 1px;
      border-style: solid;
      border-color: rgb(169, 169, 169);
      padding: 0.1rem;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      }
  
    /* Title display */
    .messTitle{
      padding: 0.1rem;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      }
  
    /* Avenue dropbox */
    .aveDrop{
      border-width: 1px;
      border-style: solid;
      border-color: rgb(169, 169, 169);
      background-color: rgb(255, 255, 255);
      overflow-y: scroll;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 4;
      }
    
    /* Div to hold buttons */
    .aveBtnArray{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      }
    
    /* Edit button */
    .messEdit{
      width: 2.5rem;
      height: 1.4rem;
    }

    /* Copy button */
    .messCopy{
      width: 2.5rem;
      height: 1.4rem;
      padding-left: 2.5px;
    }

    /* Delete button */
    .messDelete{
      width: 1.4rem;
      height: 1.4rem;
      }

  /* Rules for dynamically added Avenues */
  .avenue{
    width: 35.2rem;
    display: grid;
    grid-template-columns: 6.5rem 9.15rem 9.15rem 9rem 1.4rem;
    grid-template-rows: 1.5rem 2.5rem;
    background-color: #999;
    border: rgb(169, 169, 169);
    border-width: 1px;
    border-style: solid;
    }

    /* First Row */
    /* Drop down box rules*/
    .aveDropdown{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      font-size: 1rem;
      border-width: 0px;
      }

    /* Titles */
    .aveDate_title{
      padding: 0.1rem;
      grid-column-start: 2;
      grid-column-end:3;
      grid-row-start: 1;
      grid-row-end: 2;
      }
      
    .aveDescription_title{
      padding: 0.1rem;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      }

    .avePersons_title{
      padding: 0.1rem;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
      }

    /* Seccond row */
    /* Sent box rules */
    .aveSent_box{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      padding: 0.3rem;
      }

    .aveSent_checkbox{
      position: relative;
      top: 0.3rem;
      }

    .aveSent_label{
      position: relative;
      top: 0.2rem;
      }

    /* Textareas*/
   .aveDate{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      font-size: 1rem;
      font-family: Helvetica, Arial, sans-serif;
    } 
    
    .aveDescription{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      }

    .avePersons{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
      }

    /* Outside rows */
    /* Delete button */
    .aveDelete{
      width: 1.4rem;
      height: 1.4rem;
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2;
      }

/* ---- Initiative tab ---- */
/* Note: use top div to toggle visibility on and off nested div holds the actual grid */
.initWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 18.8vh 4vh 16.7vh 4vh 44vh 4vh;
    background-color: rgb(139, 203, 224);
  }
  
  /* Wrapper div for initative description and name */
  #initHeader{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1.5rem 1.5rem 1fr;
    margin-left: 0.5rem;
  }

  /* Input for Initiative's name */
  #initName{
    margin-left: 0.5rem;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  /* Title for Initiative's description */
  #initDescripTitle{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  /* Textarea for Initiative's description */
  #initDescription{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  /* wrapper for group ui objects */
  #groups{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  /* Container for adding groups */
  #groupIn{
    height:76%;
    vertical-align: top;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    margin-left: 1vh;
    margin-right: 1vh;
  }

  /* Group rules */
  .group{
    display: grid;
    grid-template-columns: 1fr 2fr 9.9rem 1.4rem;
    grid-template-rows: 1.4rem 4.8rem;
    background-color: #999;
    border: rgb(169, 169, 169);
    border-width: 1px;
    border-style: solid;
    }

  /* Titles */
  /*#name_title{
    padding: 0.1rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    }

  #contacts_title{
    padding: 0.1rem;
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end: 2;
    }*/
  
  /* Textarea for Group name*/
  .name{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  /* Button to add contacts */ 
  .grpBtnArray{
    padding-left: 1px;
    grid-column-start: 3;
    grid-column-end:5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  /* Buttons for group manipulation */
  .addContact{
    height: 1.4rem;
  }

  .copyEmails{
    height: 1.4rem;
  }

  .copyPhones{
    height: 1.4rem;
  }

  /* Delete button for group elements */
  .groupDelete{
    width: 1.4rem;
    height: 1.4rem;
  }

  /* Container div for all contact elements */
  .contacts{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-y: scroll;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    background-color: rgb(255, 255, 255);
    }

    /* Individual contact div */
    .contact{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1.4rem;
      grid-template-rows: 1.4rem 2.5rem;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(169, 169, 169);
      background-color: rgb(170, 180, 190);
      }

    /* Common class for contact textareas */
    .contactIn{
      white-space: nowrap;
    }
    /*  Delete button for contact */
    .contactDelete{
    width: 1.4rem;
    height: 1.4rem;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    }

    .cont_title{
      background-color: rgb(170, 180, 190);
    }

  /* Title to hold header and add button for goalIn */
  #goalHeader{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  /* Container for adding goals */
  #goalIn{
    max-height: 85vh;
    vertical-align: top;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    margin-left: 1vh;
    margin-right: 1vh;
  }

  /* Goal rules */
    .goal{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1.4rem;
      grid-template-rows: 1.4rem 2rem;
      background-color: #999;
      border: rgb(169, 169, 169);
      border-width: 1px;
      border-style: solid;
      }
  
    /* Titles */
    #goalType_title{
      padding: 0.1rem;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      }

    #goalFreq_title{
      padding: 0.1rem;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      }
  
    #goalReminder_title{
      padding: 0.1rem;
      grid-column-start: 3;
      grid-column-end:4;
      grid-row-start: 1;
      grid-row-end: 2;
      }
  
    /* Dropdown for goal type */
    .typeDropdown{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      }
    
    /* need to develop frequency and reminder */
    /* Textareas*/
    .frequency{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      }
  
    .reminder{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      }
  
    /* Outside rows */
    /* Delete button */
    .goalDelete{
      width: 1.4rem;
      height: 1.4rem;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
      }

  #initMid{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  /* rules for calendar wrapper and container divs */
  #calWrapper{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 1vh;
    margin-right: 1vh;
    overflow-y: scroll;
  }
  #calendar{
    height: 800px
  }

  /* container on the bottom */
  #initBottom{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* ---- other Tab rules ---- */
/* Note: use top div to toggle visibility on and off nested div holds the actual grid
/* Container for full grid */
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 11.5vh 69vh 11.5vh;
    background-color: rgb(139, 203, 224);
  }
  
  /* input for title */
 #title{
    margin-left: 0.5rem;
  }
  
  /* Container for adding avenues */
  #In{
    max-height: 85vh;
    vertical-align: top;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    margin-left: 1vh;
    margin-right: 1vh;
  }
  
  /* container on the bottom */
  #bottom{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Avenue rules */
  /*.avenue{
    display: grid;
    grid-template-columns: 6rem 1fr 1fr 1fr 1.4rem;
    grid-template-rows: 1.4rem 1.5rem 2rem;
    background-color: #999;
    border: rgb(169, 169, 169);
    border-width: 1px;
    border-style: solid;
  }
  
  /* First Row */
  /* Drop down box rules*/
  /*.dropdown{
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  /* Titles */
  /*.description_title{
    padding: 0.1rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .persons_title{
    padding: 0.1rem;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .date_title{
    padding: 0.1rem;
    grid-column-start: 4;
    grid-column-end:5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  /* Seccond row */
  /*Sent box rules */
  /*.sent_box{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .sent_checkbox{
    position: relative;
    top: 0.3rem;
  }
  
  .sent_label{
    position: relative;
    top: 0.2rem;
  }
  
  /* Textareas*/
  /*.description{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .persons{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .dates{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  /* Outside rows */
  /* Delete button */
  /*.delete{
    width: 1.4rem;
    height: 1.4rem;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  */