/* global css variables */
:root {
  /* Base variables */
  --base-bg-color:  rgb(139, 203, 224);
  --base-text-color: white;
  --base-text-shadow: 2px 2px rgb( 100, 100, 100, 0.2);
  --base-margin: 0;
  --base-font-family: Helvetica, Arial, sans-serif;

  /* Text editor specific variables */
  --editor-bg-color: rgb(252, 252, 252);
  --editor-text-color: black;
  --editor-margin: 3%;
  --editor-width: 94%;
}

/* global styles for element types */
body {
  margin: var(--base-margin);
  background-color: var(--base-bg-color);
  font-family: var(--base-font-family);
}

/* Container for full grid */
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh 8vh 9vh 11vh 35vh 8vh 11vh 10vh;
  background-color: var(--base-bg-color);
  color: var(--base-text-color);
  text-shadow: var(--base-text-shadow);
  margin: var(--base-margin);
}

/* container for top title label and title input */
#top-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-label {
  text-align: center;
  margin-top: 0.1rem;
  font-size: 1.8rem;
}

#title-input {
  margin-left: 0.5rem;
  font-size: 1.15rem;
  width: 35rem;
  border: 1px solid rgb(204, 204, 204); /* To match with will editor boaders */
  text-shadow: var(--base-text-shadow);
}

/* Common class for button elements */ 
.button {
  font-size: 1rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin-left: 0.5rem;
  flex-grow: 0.3;
  flex-shrink: 1;
  border-radius: 7px;
  border-width: 0px;
  color: var(--base-text-color);
  background-color: rgb(90, 90, 90);
  transition: box-shadow 0.4s, transform 0.4s, color 0.1s ease-out, background-color 0.1s ease-out;
}

  .button:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 3px 3px rgb( 85, 85, 85, 0.4);
    cursor: pointer;
  }
  
  .button:active {
    background-color: rgb(255, 245, 222);
    color: black;
  } 
  
  .button:focus {
    outline: none;
  }

/* QUill tool bar formatting */
.ql-toolbar.ql-snow {
    margin-left: var(--editor-margin);
    margin-right: var(--editor-margin);
    margin-top: 1vh;
}

/*  for greeting */
#greeting {
  margin-left: var(--editor-margin);
  margin-right: var(--editor-margin);
  width: var(--editor-width);
  background-color: var(--editor-bg-color);
  color: var(--editor-text-color);
}

/* Textarea for content */ 
#content {
  margin-left: var(--editor-margin);
  margin-right: var(--editor-margin);
  width: var(--editor-width);
  background-color: var(--editor-bg-color);
  color: var(--editor-text-color);
}

/* Textarea for signature */
#signature {
  margin-left: var(--editor-margin);
  margin-right: var(--editor-margin);
  width: var(--editor-width);
  background-color: var(--editor-bg-color);
  color: var(--editor-text-color);
}

/* container on the bottom */
#bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
}