/* Container for full grid */
.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh 4vh 6vh 9vh 4vh 9vh 33vh 4vh 6vh 9vh 8vh;
  background-color: rgb(139, 203, 224);
}

/* global styles for element types */
body{
  margin: 0;
  background-color: rgb(139, 203, 224)
}

/* Common class for text titles */
.title{
  text-align: center;
  margin: 0;
  margin-top: 0.1rem;
}
 
/* Common class button elements */ 
.button{
padding-top: 0.3rem;
padding-bottom: 0.3rem;
padding-left: 0.5rem;
padding-right: 0.5rem;
margin-left: 0.5rem;
flex-grow: 0.1;
flex-shrink: 1;
}

 /* Common class for message textareas */ 
.message{
  /* height: 23vh; */
  width: 90%;
  margin: auto;
  background-color: rgb(252, 252, 252);
}

/* input for title */ 
#title{
  margin-left: 0.5rem;
}

/* Text title for greeting 
#greeting_title{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#toolBar{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
 Textarea for greeting 
#greeting{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

 Text title for content 
#content_title{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

 Textarea for content 
#content{
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 2;
}

/* Text title for signature 
#signature_title{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Textarea for signature 
#signature{
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 2;
}*/

/* container for top title and title input */
#tag{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container on the bottom */
#bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}